@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

/*
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  crossed lines - background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");

  */

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

header img {
  padding-top: 20px;
  width: 150px;
}

header h2 {
  padding: 20px 0;
  color: rgb(104, 104, 104);
}

header p {
  color: gray;
  line-height: 25px;
  margin-bottom: 25px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 350px; */
  width: 100%;
  height: 300px;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 15px 0;
}

section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 0.8;
}

section::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

section .content {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 5px;
  z-index: 1;
}

.section-1 {
  background: url('images/pic01.jpg');  
  background-size: cover;
  background-position: center;
}

.section-1::before {
  background: #e7899b;
}

.section-2 {
  display: none;
  background: url('images/pic02.jpg');
  background-size: cover;
  background-position: center;
}

.section-2::before {
  background: #84c8f0;
}

.section-3 {
  display: none;
  background: url('images/pic03.jpg');
  background-size: cover;
  background-position: center;
}

.section-3::before {
  background: #6BB2A8;
}

.section-4 {
  display: none;
  background: url('images/pic04.jpg');
  background-size: cover;
  background-position: center;
}

.section-4::before {
  background: #A84F7F;
}

.section-5 {
  display: none;
  background: url('images/pic05.jpg');
  background-size: cover;
  background-position: center;
}

.section-5::before {
  background: #B393CE;
}

.section-6 {
  display: none;
  background: url('images/pic06.jpg');
  background-size: cover;
  background-position: center;
}

.section-6::before {
  background: #7887C8;
}

.section-7 {
  display: none;
  background: url('images/pic07.jpg');
  background-size: cover;
  background-position: center;
}

.section-7::before {
  background: #76B4D7;
}

.section-8 {
  display: none;
  background: url('images/pic08.jpg');
  background-size: cover;
  background-position: center;
}

.section-8::before {
  background: #6CB1AB;
}

.section-9 {
  display: none;
  background: url('images/pic09.jpg');
  background-size: cover;
  background-position: center;
}

.section-9::before {
  background: #CC728A;
}

.section-10 {
  background: url('images/pic10.jpg');
  background-size: cover;
  background-position: center;
}

.section-10::before {
  background: #b375a3;
}

.section-11 {
  background: url('images/pic11.jpg');
  background-size: cover;
  background-position: center;
}

.section-11::before {
  background: #6b81bd;
}

.section-12 {
  background: url('images/pic12.jpg');
  background-size: cover;
  background-position: center;
}

.section-12::before {
  background: #cd76a9;
}

@media (min-width: 718px) {
  .container {
    max-width: 945px;
  }

  section {
    width: 300px;
    margin: 0 15px 15px 0;
  }

  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9 {
    display: flex;
  }
}